<footer class="flex flex-col justify-center py-12 bg-black text-white gap-8">
    <div class="container mx-auto px-4 md:px-0 flex flex-wrap gap-16 lg:justify-between">
        <h2 class="text-3xl lg:text-4xl font-bold">Consultorias Capital</h2>
        <div class="flex flex-wrap gap-4 lg:gap-24">
            <ul class="flex flex-col gap-2">
                <li>Lorem ipsum dolor</li>
                <li>Lorem ipsum dolor</li>
                <li>Lorem ipsum dolor</li>
                <li>Lorem ipsum dolor</li>
                <li>Lorem ipsum dolor</li>
                <li>Lorem ipsum dolor</li>
            </ul>
            <ul class="flex flex-col gap-2">
                <li>Lorem ipsum dolor</li>
                <li>Lorem ipsum dolor</li>
                <li>Lorem ipsum dolor</li>
                <li>Lorem ipsum dolor</li>
                <li>Lorem ipsum dolor</li>
                <li>Lorem ipsum dolor</li>
            </ul>
            <ul class="flex flex-col gap-2">
                <li>Lorem ipsum dolor</li>
                <li>Lorem ipsum dolor</li>
                <li>Lorem ipsum dolor</li>
                <li>Lorem ipsum dolor</li>
                <li>Lorem ipsum dolor</li>
                <li>Lorem ipsum dolor</li>
            </ul>
        </div>
    </div>
    <div class="flex justify-end container mx-auto px-4 md:px-0">
        <a href="#" class="text-[#7d4a6b] font-extrabold bg-white border border-[#7d4a6b] transition-all duration-500 hover:bg-[#7d4a6b] hover:text-white px-4 p-2 w-fit rounded-2xl">Conoce el proceso</a>
    </div>
    <div class="container mx-auto px-4 md:px-0">
        <hr/>
    </div>
    <div class="container mx-auto flex flex-wrap gap-16 px-4 md:px-0">
        <a href="#">
            Linkedin
        </a>
    </div>
    <div class="container mx-auto px-4 md:px-0">
        <hr/>
    </div>
    <span class="w-full text-center">
        © 2023 Consultorias Capital
    </span>
</footer>