---
import NavLink from "../NavLink.astro";
---

<nav class="container mx-auto">
    <div class="flex justify-between py-6">
        <a href="/">
            <h1 class="">
                Logo
            </h1>
        </a>
        <ul class="flex gap-8">
            <li>
                <NavLink href="/">inicio</NavLink>
            </li>
            <li>
                <NavLink href="/">quienes somos</NavLink>
            </li>
            <li>
                <NavLink href="/">nuestros servcicios</NavLink>
            </li>
            <li>
                <NavLink href="/">contacto</NavLink>
            </li>
            <li>
                <NavLink href="/">borrador</NavLink>
            </li>
        </ul>
    </div>
</nav>