---
import NavLink from "../NavLink.astro";
---

<div class="sticky top-0 z-50 bg-white/30 backdrop-blur-sm">
    <nav class="container mx-auto">
        <div class="flex justify-between py-2 items-center">
            <a href="/">
                <img src="/logo-capital.png" alt="logo" class="h-16" />
            </a>
            <ul class="flex gap-8">
                <li>
                    <NavLink href="/">inicio</NavLink>
                </li>
                <li>
                    <NavLink href="/quienes-somos">Mapa de covertura</NavLink>
                </li>
                <li>
                    <NavLink href="/nuestros-servicios">Nuestros Servcicios</NavLink>
                </li>
                <li>
                    <NavLink href="/soluciones">Soluciones</NavLink>
                </li>
                <li>
                    <NavLink href="/contacto">Contacto</NavLink>
                </li>
            </ul>
        </div>
    </nav>
</div>