---
import '../styles/global.css';
// Component Imports
import Button from '../components/Button.astro';
import BusinessLineCard from '@/components/BusinessLineCard.astro';
import NavBar from '@/components/layout/NavBar.astro';
import BentoItem from '@/components/BentoItem.astro';
import Footer from '@/components/layout/Footer.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Capital Consultorias SAS</title>
	</head>

	<body class="relative">
		<NavBar />
		<main class="container mx-auto">
			<section class="flex flex-col gap-16 lg:gap-20 items-center py-12 lg:pt-48 lg:pb-28">
				<div class="flex flex-col gap-4 items-center w-4/5 lg:w-2/3">
					<h2 class="text-xl md:text-5xl lg:text-6xl font-bold text-center">Aseguradora Numero 1 de Colombia en seguros todo riesgo.</h2>
					<span class="text-slate-400 text-lg">Ayudando a las personas a tener un mejor servicio para su tranquilidad</span>
				</div>
				<section class="w-full flex flex-col gap-4 lg:gap-10">
					<div class="flex flex-row gap-4 lg:gap-10">
						<BentoItem class="flex-2">
							contenido uno
						</BentoItem>
						<BentoItem class="flex-1">
							contenido dos
						</BentoItem>
					</div>
					<div class="flex flex-row gap-4 lg:gap-10">
						<BentoItem class="flex-1">
							contenido tres
						</BentoItem>
						<BentoItem class="flex-1">
							contenido cuatro
						</BentoItem>
						<BentoItem class="flex-1">
							contenido cinco
						</BentoItem>
					</div>
				</section>
			</section>
			
			<div class="container mx-auto flex-col flex justify-center items-center my-8 gap-16">
				<h3 class="text-6xl font-bold text-center">Lineas de Negocio</h3>
				<div class="container mx-auto flex flex-wrap justify-center gap-24 md:flex-nowrap">
					<BusinessLineCard title="Automoviles" imageSrc="/images/line1.png" href="#" alt="linea 1" description="linea 1 description" />
					<BusinessLineCard title="Vida" imageSrc="/images/line2.png" href="#" alt="linea 2" description="linea 2 description" />
					<BusinessLineCard title="P&C" imageSrc="/images/line3.png" href="#" alt="linea 3" description="linea 3 description" />
				</div>
			</div>
			<div class="container mx-auto flex flex-wrap justify-center items-center my-28 gap-16">
				<div class="flex-1 flex flex-col lg:gap-16">
					<h2 class="text-3xl lg:text-6xl font-bold">Contacto</h2>
					<p class="text-lg lg:text-xl">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo porro explicabo vitae unde laboriosam asperiores atque, quis commodi, vero exercitationem a hic rem illum dolor doloremque. Consequuntur ducimus neque ratione?</p>
					<a href="#" class="text-[#7d4a6b] font-extrabold bg-white border border-[#7d4a6b] transition-all duration-500 hover:bg-[#7d4a6b] hover:text-white px-4 p-2 w-fit rounded-2xl">Contactanos!</a>
				</div>
				<img src="/images/contact.png" alt="contact" class="w-200 lg:w-[600px] aspect-video rounded-lg bg-slate-400" />
			</div>
			<div class="container mx-auto flex flex-wrap justify-center items-center my-28 gap-16">
				<div class="flex-1 flex flex-col lg:gap-8 items-center lg:max-w-3/5">
					<h2 class="text-3xl lg:text-6xl font-bold text-center">Contacto</h2>
					<p class="text-lg lg:text-xl">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo porro explicabo vitae unde laboriosam asperiores atque, quis commodi, vero exercitationem a hic rem illum dolor doloremque. Consequuntur ducimus neque ratione?</p>
					<div class="flex flex-row gap-4 lg:gap-10">
						<a href="#" class="text-[#7d4a6b] font-extrabold bg-white border border-[#7d4a6b] transition-all duration-500 hover:bg-[#7d4a6b] hover:text-white px-4 p-2 w-fit rounded-2xl">Conoce el proceso</a>
						<a href="#" class="text-white font-extrabold bg-[#7d4a6b] border border-[#7d4a6b] transition-all duration-500 hover:bg-white hover:text-[#7d4a6b] px-4 p-2 w-fit rounded-2xl">Contactanos!</a>
					</div>
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
