---
import '../styles/global.css';
// Component Imports
import Button from '../components/Button.astro';
import BusinessLineCard from '@/components/BusinessLineCard.astro';
import NavBar from '@/components/layout/NavBar.astro';
import BentoItem from '@/components/BentoItem.astro';
import Footer from '@/components/layout/Footer.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Capital Consultorias SAS</title>
	</head>

	<body>
		<NavBar />
		<main class="container mx-auto">
			<section class="flex flex-col gap-16 lg:gap-20 items-center py-12 lg:pt-48 lg:pb-28">

				<h2 class="text-4xl font-bold text-center lg:text-5xl">
					Nuestros servicios
			</section>
		</main>
		<Footer />
	</body>
</html>
