---
import '../styles/global.css';
// Component Imports
import Button from '../components/Button.astro';
import BusinessLineCard from '@/components/BusinessLineCard.astro';
import NavBar from '@/components/layout/NavBar.astro';
import BentoItem from '@/components/BentoItem.astro';
import Footer from '@/components/layout/Footer.astro';
import Services from '@/components/services.tsx';
import Step from '@/components/step.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Capital Consultorias SAS</title>
	</head>

	<body>
		<NavBar />
		<main class="container mx-auto">
			<section class="py-20 flex flex-col gap-20">
                <div class="flex flex-col gap-4 items-center">
                    <h2 class="text-sm font-bold">Conoce el proceso</h2>
                    <h3 class="text-6xl font-bold w-4/5 text-center">Lorem Ipsum Dolor Sit Amet</h3>
                    <p class="text-2xl text-center w-4/5 text-slate-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, aspernatur beatae similique repellat numquam animi dolorem ex accusamus, provident quidem reiciendis atque officiis facere rem quaerat. Dolore ex mollitia vitae!</p>
                </div>
                <div class="flex flex-row gap-4 lg:gap-10 w-4/5 mx-auto">
                    <BentoItem class="flex-2">
                        contenido uno
                    </BentoItem>
                    <BentoItem class="flex-1">
                        contenido dos
                    </BentoItem>
                </div>
            </section>
            <section class="py-20 flex flex-col gap-20">
                <div class="flex flex-col gap-4 items-center">
                    <h3 class="text-6xl font-bold w-3/5 text-center">Lorem Ipsum Dolor Sit Amet</h3>
                    <p class="text-2xl text-center w-3/5 text-slate-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, aspernatur beatae similique repellat numquam animi dolorem ex accusamus, provident quidem reiciendis atque officiis facere rem quaerat. Dolore ex mollitia vitae!</p>
                    <a href="/contacto" class="text-white font-extrabold bg-[#7d4a6b] border border-[#7d4a6b] transition-all duration-500 hover:bg-white hover:text-[#7d4a6b] px-4 p-2 w-fit rounded-2xl">Contactanos!</a>
                </div>
                <div class="grid grid-cols-1 gap-16 md:grid-cols-4">
                    <Step step="1" title="Lorem ipsum dolor sit amet">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad autem doloremque amet, ipsam molestias odio earum debitis officia? Repudiandae deserunt voluptatem odio aliquid eligendi tempora quia deleniti, assumenda obcaecati quis.</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad autem doloremque amet, ipsam molestias odio earum debitis officia? Repudiandae deserunt voluptatem odio aliquid eligendi tempora quia deleniti, assumenda obcaecati quis.</p>
                    </Step>
                    <Step step="2" title="Lorem ipsum dolor sit amet">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad autem doloremque amet, ipsam molestias odio earum debitis officia? Repudiandae deserunt voluptatem odio aliquid eligendi tempora quia deleniti, assumenda obcaecati quis.</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad autem doloremque amet, ipsam molestias odio earum debitis officia? Repudiandae deserunt voluptatem odio aliquid eligendi tempora quia deleniti, assumenda obcaecati quis.</p>
                    </Step>
                    <Step step="3" title="Lorem ipsum dolor sit amet">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad autem doloremque amet, ipsam molestias odio earum debitis officia? Repudiandae deserunt voluptatem odio aliquid eligendi tempora quia deleniti, assumenda obcaecati quis.</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad autem doloremque amet, ipsam molestias odio earum debitis officia? Repudiandae deserunt voluptatem odio aliquid eligendi tempora quia deleniti, assumenda obcaecati quis.</p>
                    </Step>
                    <Step step="4" title="Lorem ipsum dolor sit amet">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad autem doloremque amet, ipsam molestias odio earum debitis officia? Repudiandae deserunt voluptatem odio aliquid eligendi tempora quia deleniti, assumenda obcaecati quis.</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad autem doloremque amet, ipsam molestias odio earum debitis officia? Repudiandae deserunt voluptatem odio aliquid eligendi tempora quia deleniti, assumenda obcaecati quis.</p>
                    </Step>
                </div>
            </section>
		</main>
		<Footer />
	</body>
</html>
