---
import NavBar from '@/components/layout/NavBar.astro';
import BentoItem from '@/components/BentoItem.astro';
import '../styles/global.css';
import Footer from '@/components/layout/Footer.astro';
// Component Imports

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro + TailwindCSS</title>
	</head>

	<body class="relative">
		<NavBar />
		<main class="bg-slate-800 text-white">
            <div class="container mx-auto">
                <section class="flex flex-row justify-between w-[90%] mx-auto py-40 min-h-[75vh]">
                    <h1 class="text-6xl font-bold leading-20 flex-1 bg-white text-black p-4 pseudo relative">Ayudamos a nuestros clientes a <span class="bg-[#7d4a6b] text-white px-2"> Administrar </span></h1>
                    <div class="flex flow-row flex-2 justify-end">
                        <span class="w-1/3">

                        </span>
                        <p class="mt-auto text-lg w-2/3">
                            <span class="font-bold">
                                Lorem ipsum dolor sit amet elit. Quidem, voluptatibus.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, voluptatibus.
                            </span>
                            <br/>
                            <br/>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, voluptatibus.
                        </p>
                    </div>
                </section>
            </div>
            <div class="bg-white text-black py-40">
                <section class="container mx-auto">
                    <div class="flex flex-wrap gap-40 justify-between">
                        <div class="w-full lg:w-[60%] p-10 lg:pl-20 lg:pt-20">
                            <div class="px-20">
                                <p class="text-3xl font-bold">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#" target="_blank" class="text-[#7d4a6b] hover:underline">Cum dolore vel quae voluptas provident.</a> Impedit sed blanditiis aut sint dolore ab dignissimos deserunt, voluptas cum voluptatem ad, aperiam sequi beatae!
                                </p>
                            </div>
                        </div>
                        <div class="flex-1 flex flex-col">
                            <ul class="flex flex-col gap-16">
                                <li class="flex flex-col gap-2">
                                    <span class="text-6xl font-bold">
                                        98%
                                    </span>
                                    <p class="text-lg font-bold text-slate-400">
                                        de clientes satisfechos
                                    </p>
                                </li>
                                <li class="flex flex-col gap-2">
                                    <span class="text-6xl font-bold">
                                        14.000+
                                    </span>
                                    <p class="text-lg font-bold text-slate-400">
                                        de casos resueltos
                                    </p>
                                </li>
                                <li class="flex flex-col gap-2">
                                    <span class="text-6xl font-bold">
                                        89%
                                    </span>
                                    <p class="text-lg font-bold text-slate-400">
                                        de cobertura a nivel nacional
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </main>
		<Footer />
	</body>
</html>
